@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<a class="btn btn-outline-primary d-block m-1" asp-page="Discipline/Index">Дисципліни</a>
<a class="btn btn-outline-primary d-block m-1" asp-page="Class/Index">Пари</a>
